header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
}